@import url('https://fonts.googleapis.com/css?family=Oswald|Vast+Shadow|Playfair+Display');

$bgColor: rgb(157, 199, 224);
$mainShadow: 1px 1px 0 rgba(255, 255, 255, .25);
$linkColor: #1779ba;
$linkColorHover: #fff;

body {
	background-color: $bgColor;
	font-family: 'Oswald', sans-serif;
}

.content-area {
	padding: 20vh 10vw;

	@include breakpoint(small only) {
		padding: 10vh 5vw;
	}

	h1, h2, h3 {
		color: rgb(12, 61, 92);
		font-family: 'Playfair Display', 'Georgia', serif;
		text-shadow: $mainShadow;
	}

	p {
		font-size: 1.25rem;
		margin-bottom: 1.5rem;
	}

	a {
		border-bottom: 2px solid transparent;
		transition: ease 400ms;
		&:hover {
			border-bottom: 2px solid $linkColor;
		}
	}

	.text--centered {
		margin: 20px 0;
		text-align: center;
		@include breakpoint(small only) {
			font-size: 2.25em;
			text-align: left;
		}
	}

	.callout {
		h2 {
			font-family: 'Vast Shadow', 'Georgia', serif;
		}
		h3 {
			@include breakpoint(small only) {
				font-size: 2em;
			}
		}
		@include breakpoint(large only) {
			.row {
				margin-top: 50px;
			}
		}
	}
}

a.btn {
	background-color: rgba(0,0,0,0);
	border: 2px solid $linkColor;
	color: $linkColor;
	box-shadow: $mainShadow;
	display: inline-block;
	padding: 10px 20px;
	font-size: 20px;
	&:hover {
		background-color: rgba(23, 121, 186, .5);
		border: 2px solid $linkColorHover;
		color: $linkColorHover;
	}
	@include breakpoint(small only) {
		text-align: center;
		width: 100%;
	}
}

.splash--text {
	background-color: rgba(15, 15, 15, .25);
	color: #fff;
	text-align: center;
	&.row {
		//position: fixed;
		position: absolute;
		width: 100%;
		max-width: 100%;
		bottom: 10vh;
		@include breakpoint(portrait) {
			top: 10vh;
			bottom: auto;
		}
	}
	h1 {
		font-family: 'Vast Shadow', 'Georgia', serif;
		span {
			font-family: 'Playfair Display', 'Georgia', serif;
			position: relative;
			top: 6px;
			@include breakpoint(small only) {
				top: 3px;
			}
		}
	}
	h2 {
		font-family: 'Oswald', sans-serif;
		font-size: 1rem;
		text-transform: uppercase;
		span {
			font-size: .5rem;
			position: relative;
			top: -3px;
		}
	}
}

.splash--image {
	//background-attachment: fixed;//breaks ios
	background-position: 0 0;
	background-size: cover;
	background-repeat: no-repeat;
	display: block;
	position: relative;
	height: 110vh;
	width: 100vw;
	@include breakpoint(small only) {
		background-position: 50% 65%;
	}
	@include breakpoint(medium only) {
		background-position: 50% 65%;
	}
	@media screen and #{breakpoint(landscape)} and #{breakpoint(medium down)} {
	 	background-position: 50% 55%;
	}
	@include breakpoint(large) {
		background-attachment: fixed;
	}

	.transition--bottom {
		background: linear-gradient( rgba(0,0,0,0), $bgColor);
		display: block;
		bottom: 0;
		content: '';
		position: absolute;
		height: 100px;
		width: 100%;
	}

	.transition--top {
		background: linear-gradient( $bgColor, rgba(0,0,0,0));
		display: block;
		top: 0;
		content: '';
		position: absolute;
		height: 100px;
		width: 100%;
	}
}

.credits {
	font-family: 'Oswald', sans-serif;
	position: absolute;
	bottom: 5px;
	right: 0;
	a {
		background-color: rgba(255, 255, 255, 0);
		text-shadow: 0 0 5px rgba(105, 178, 236, .85);
		display: inline-block;
		color: rgba(255, 255, 255, .65);
		padding: 5px;
		transition: all 400ms;
		&:hover {
			background-color: rgba(105, 178, 236, .5);
			color: rgba(255, 255, 255, .75);
		}
	}
}

